

canvas
{
    touch-action:none
}

/**
* model browser
*/
.browser
{
    position: absolute;
    top: 2%;
    left: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.browser .generateBtn
{
    margin-top: 4px;
    margin-left: 200px;

}

.browser .content
{
    display: flex;
    justify-content: left;
}

.browser .left-nav
{
    width: 50px;
    height: 40px;
    margin-top: 4px;
    margin-left: 31px;
    border: 2px solid #ffffff;

}

.browser .right-nav
{
    width: 50px;
    height: 40px;
    margin-top: 4px;
    margin-left: 8px;
    border: 2px solid #ffffff;
    
}

.browser .right-nav:hover {
    background: #ffffff99;
}
.browser .left-nav:hover {
    background: #ffffff99;
}

.browser .key
{
    width: 50px;
    height: 50px;
    margin: 4px;
    border: 2px solid #ffffff;
    
}
.browser .key.active
{
    background: #ffffff99;
}

.browser .key:hover {
    background: #ffffff99;
}

.browser .icon
{
    margin: 5px;
    width: 35px;
    height: 40px;

}

.browser .icon.rotate0
{
    transform: rotate(0);

}

.browser .icon.rotate90
{
    transform: rotate(90deg);

}

.browser .icon.rotate180
{
    transform: rotate(180deg);

}

.browser .icon.rotate270
{
    transform: rotate(270deg);

}

.browser .icon.rotate2360
{
    transform: rotate(360deg);

}